<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE" value="info.log"/>
    <property name="LOG_ERROR_FILE" value="error.log"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %X{IP} %level %thread@%X{_EASY_GLOBAL_MSG_ID} %X{URL} %logger[%method:%line] - %msg%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!--<withJansi>true</withJansi>-->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${LOG_FILE}</File>
        <Append>true</Append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/info.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <appender name="LogGameFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/game.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/game.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${LOG_ERROR_FILE}</File>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error.%d{yyyyMMdd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <logger name="com.netflix" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.alibaba.druid.pool.DruidDataSourceStatLoggerImpl" level="WARN"/>
    <logger name="com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver" level="WARN"/>
    <logger name="org.apache.activemq.transport.failover.FailoverTransport" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>
</configuration>

